.button
    width 84px
    height 84px
    border-top 2px solid ignorable1
    border-left 2px solid ignorable1
    border-right 2px solid ignorable3
    border-bottom 2px solid ignorable3
    margin-top 4px
    margin-left 4px
    float left
    text-align center
    vertical-align middle
    
    &:active
        border-top 2px solid ignorable3
        border-left 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1
        
        p
            color pointier
        
    p
        font-size 6em
        margin 0 auto
        margin-top 15px
        -webkit-touch-callout none /* iOS Safari */
        -webkit-user-select none /* Safari */
        -khtml-user-select none /* Konqueror HTML */
        -moz-user-select none /* Firefox */
        -ms-user-select none /* Internet Explorer/Edge */
        user-select none /* Non-prefixed version, currently */
        cursor pointer

.buttons-container
    margin-left 16px
    margin-top 12px