.card
  background ignorable2
  border-top 2px solid ignorable1
  border-left 2px solid ignorable1
  border-right 2px solid ignorable3
  border-bottom 2px solid ignorable3
  
  &.middle
      width 400px
      height 500px
      margin 0 auto
      margin-top calc(50vh - 250px)
      
      input
          margin 0 auto
          display block
          margin-top 190px