.field
  border-top 2px solid ignorable3
  border-left 2px solid ignorable3
  border-right 2px solid ignorable1
  border-bottom 2px solid ignorable1
  
  outline none
  font-family HFNSS
  color pointColor
  font-size 2em
  background backgroundx2
  -webkit-font-smoothing none
  font-smooth none
  height 29px
  