.screen
    background backgroundx2
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
    width 190px
    height 20px
    
    margin-left 8px
    margin-top 8px
    
    overflow hidden
    
    p 
        float right
        font-size 2em
        -webkit-touch-callout none /* iOS Safari */
        -webkit-user-select none /* Safari */
        -khtml-user-select none /* Konqueror HTML */
        -moz-user-select none /* Firefox */
        -ms-user-select none /* Internet Explorer/Edge */
        user-select none /* Non-prefixed version, currently */
        cursor default